@page
@model Models.Animes
@{
    ViewData["Title"] = "Añadir Nuevo";
}
<h3>Añadir Nuevo Anime o Nueva Temporada</h3>

<div class="row">
    <div class="col-3">
       <p clas="display-4">Quiero</p>
    </div>
    <div class="col-9">
        <select class="form-control" id="SelectOption">
            <option value="default"> --- Selecciona una opción --- </option>
            <option value="anadirNuevo">Añadir Nuevo Anime</option>
            <option value="anadirTempo">Añadir Temporada a Anime Existente</option>
        </select>
    </div>
</div>

<section class="container p-4 seccion-nuevo-anime">

    <form method="POST">
        Nombre del Anime <i>En Japonés</i>
        <input asp-for="Nombre" class="form-control" />
        Genero del Anime:
        <input asp-for="Genero" class="form-control" />
        Nombre del Anime: <i>En Inglés</i>
        <input asp-for="NombreEnIngles" class="form-control" />
        
    </form>


</section>
<a asp-page="AnimesTemporadas" class="btn btn-outline-danger">Cancelar y Volver</a>