@page
@model AppAnimes.Pages.Animes.CrearAnimeTemporadaModel
@{

    ViewData["Title"] = "Crear Anime y agregar informacion temporada ";

}
<h3>Crear Anime y Temporada</h3>

<form method="post" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Anime.Nombre" class="control-label"></label>
        <input asp-for="Anime.Nombre" class="form-control" />
        <span asp-validation-for="Anime.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Anime.Genero"></label>
        <input asp-for="Anime.Genero" class="form-control" />
        <span asp-validation-for="Anime.Genero" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Anime.NombreIngles"></label>
        <input asp-for="Anime.NombreIngles" class="form-control" />
        <span asp-validation-for="Anime.NombreIngles" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temporada.NumeroTemporada"></label>
        <input asp-for="Temporada.NumeroTemporada" class="form-control" />
        <span asp-validation-for="Temporada.NumeroTemporada" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temporada.NombreTemporada"></label>
        <input asp-for="Temporada.NombreTemporada" class="form-control" />
        <span asp-validation-for="Temporada.NombreTemporada" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temporada.Estado"></label>
        <input asp-for="Temporada.Estado" class="form-control" />
        <span asp-validation-for="Temporada.Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temporada.Tipo"></label>
        <input asp-for="Temporada.Tipo" class="form-control" />
        <span asp-validation-for="Temporada.Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temporada.TemporadaEstreno"></label>
        <input asp-for="Temporada.TemporadaEstreno" class="form-control" />
        <span asp-validation-for="Temporada.TemporadaEstreno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Historial.VistoEn"></label>
        <input asp-for="Historial.VistoEn" class="form-control" />
        <span asp-validation-for="Historial.VistoEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>


</form>


<a asp-page="AnimesTemporadas">Volver al listado</a>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    // var nombre = $('#Anime_Nombre').val();
    //  var miurl = "ObtenerTodosDatosAnime?nombre="+nombre;
    let valor_campo = document.querySelector('#Anime_Nombre').value;
    if (valor_campo.lenght < 0) {
        document.querySelector('#Temporada_NumeroTemporada').value = "";
    }
    $('#Anime_Nombre').on('focusout', function () {
        $.ajax({
            url: decodeURI(`/?handler=ObtenerTodosDatosAnime&nombre=${$('#Anime_Nombre').val().split(" ")[0]}`),
            contentType: "application/json",
            type: "GET",
            dataType: "json",
            data: { fetch: $("#CrearAnimeTemporadaVM_Genero").val() },
            success: function (response) {

                console.log(response[0].genero);

                $("#Anime_Genero").val(response[0].genero);
                $("#Anime_NombreIngles").val(response[0].nombreIngles);

                if (response[0].temporadas === undefined) {
                    $("#Temporada_NumeroTemporada").val("1");
                    $("#Temporada_Estado").val("Viendo");
                    $("#Temporada_Tipo").val("SERIE");

                    $("#Temporada_NumeroTemporada").change();
                    $("#Temporada_Estado").change();
                    $("#Temporada_Tipo").change();



                }
                else {

                    if (response[0].temporadas[0].tipo === "PELICULA") {
                        $('.btn').prop('disabled', true) // Deshabilita el boton de Guardar
                        $("#Temporada_NumeroTemporada").val("No tiene es pelicula");
                        $("#Temporada_Estado").val(response[0].temporadas[0].estado);
                        $("#Temporada_Tipo").val(response[0].temporadas[0].tipo);

                        $("#Temporada_NumeroTemporada").change();
                        $("#Temporada_Estado").change();
                        $("#Temporada_Tipo").change();
                    }
                    else {
                        if (response[0].temporadas.length === 0) {
                            $("#Temporada_NumeroTemporada").val("1");

                            $("#Temporada_NumeroTemporada").change();
                            $("#Temporada_Estado").change();
                            $("#Temporada_Tipo").change();
                        }
                        else {
                            //  $("#Temporada_NumeroTemporada").val(response[0].temporadas[0].numeroTemporada + 1)
                            console.log('Numero Temporada Maximo: ' + response[0].temporadas[response[0].temporadas.length - 1].numeroTemporada);
                            $("#Temporada_NumeroTemporada").val(response[0].temporadas[response[0].temporadas.length - 1].numeroTemporada + 1);

                            $("#Temporada_NumeroTemporada").change();
                            $("#Temporada_Estado").change();
                            $("#Temporada_Tipo").change();

                        }
                        $('.btn').removeAttr('disabled') // Rehabilita el boton de Guardar
                    }

                }




            },
            failure: function (response) {
                $("#Temporada_NumeroTemporada").val("1");
                $("#Temporada_Estado").val("Viendo");
                $("#Temporada_Tipo").val("SERIE");
                return response;
            }
        });

    });



</script>
